<%= form_for [@survey, @question_group], :html=> { class: "cd-modal-form" } do |f| %>
  <p class="fieldset">
    <% if (@question_group.question_type == QuestionGroup::Type::GRID) %>
      <%= text_field_tag 'titles[]', nil, :class => "full-width-with-additional-option has-padding has-border", :placeholder => "Title" %>
      <%= link_to_function '<i class="fa fa-plus fa-2x modal-input-extra-button"></i>'.html_safe, 'QuestionGroup.addNewTitle();' %>
    <% else %>
      <%= text_field_tag 'titles[]', nil, :class => "full-width has-padding has-border", :placeholder => "Title" %>
    <% end %>
  </p>
  <p id="more_titles"></p>
  <p class="fieldset">
    <%= f.check_box :allow_comments, :class => "modal-checkbox" %>
    <label for="question_group_allow_comments" class="modal-checkbox-label lite-gray-check">Allow Comments</label>
    <% if (@question_group.question_type == QuestionGroup::Type::MULTIPLECHOICE) || (@question_group.question_type == QuestionGroup::Type::TICKBOX) %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.check_box :has_other_option, :class => "modal-checkbox" %>
      <label for="question_group_has_other_option" class="modal-checkbox-label lite-gray-check">Allow Other Option</label>
    <% end %>
  </p>
  <% if (@question_group.question_type == QuestionGroup::Type::MULTIPLECHOICE) || (@question_group.question_type == QuestionGroup::Type::TICKBOX) || (@question_group.question_type == QuestionGroup::Type::GRID) %>
    <p class="fieldset">
      <%= text_field_tag 'options[]', nil, :class => "full-width-with-additional-option has-padding has-border", :placeholder => "Option" %>
      <%= link_to_function '<i class="fa fa-plus fa-2x modal-input-extra-button"></i>'.html_safe, 'QuestionGroup.addNewOption();' %>
    </p>
    <p id="more_options"></p>
  <% end %>
  <%= f.hidden_field :question_type, :value => @question_group.question_type %>
  <p class="fieldset">
    <%= f.submit :submit, :class => "has-padding", :value => "Submit" %>
  </p>
<% end %>