<%= form_for @survey, :html=> { class: "cd-modal-form" } do |f| %>
  <p class="fieldset">
    <%= f.text_field :title, :class => "full-width has-padding has-border", :placeholder => "Title" %>
  </p>
  <p class="fieldset">
    <%= f.text_area :description, :class => "full-width has-padding has-border", :placeholder => "Description", :rows => 4 %>
  </p>
  <p class="fieldset">
    <%= f.check_box :public, :class => "modal-checkbox" %>
    <label for="survey_public" class="modal-checkbox-label lite-gray-check">Public</label>
  </p>
  <p class="fieldset">
    <%= f.submit :submit, :class => "has-padding" %>
  </p>
<% end %>