<%= form_for @survey, :html=> { :class => "cd-form floating-labels" } do |f| %>
  <fieldset>
    <div>
      <%= f.label :title, :class => "cd-label" %>
      <%= f.text_field :title, :required => true %>
    </div>
    <div>
      <%= f.label :description, :class => "cd-label" %>
      <%= f.text_area :description, :required => true %>
    </div>
    <div>
      <%= f.label :end_date, :class => "cd-label" %>
      <%= f.text_field :end_date, :required => true %>
    </div>
    <ul class="cd-form-list">
      <li>
        <%= f.check_box :public %>
        <%= f.label :public %>
      </li>
      <li>
        <%= f.check_box :login_required %>
        <%= f.label :login_required %>
      </li>
    </ul>
    <% submit_string = @survey.uid ? "Update Survey" : "Create Survey" %>
    <%= f.submit :submit, :class => "has-padding", :value => submit_string %>
  </fieldset>
<% end %>