<div class="btn-group pull-right" role="group">
  <%= link_to "New Section", new_survey_section_path(@survey), :remote => true, :class => "cd-modal-call btn" %>
  <%= link_to "Edit", edit_survey_path(@survey), :remote => true, :class => "cd-modal-call btn" %>
  <%= link_to "Delete", @survey, data: { message: "Are you sure you want to delete this Survey?"}, :class => "btn cd-popup-trigger" %>
</div>

<div class="sections-main-content">
  <hr>
  <% @sections.each do |section| %>
    <h3 class="">
      <%= section.title %>&nbsp;
      <%= link_to edit_survey_section_path(@survey, section), :remote => true, :class => "cd-modal-call"  do %>
        <span class="glyphicon glyphicon-send"></span><%= fa_icon "pencil" %>
      <% end %>&nbsp;
      <%= link_to survey_section_path(@survey, section), data: { message: "Are you sure you want to delete this Section?"}, :class => "cd-popup-trigger"  do %>
        <span class="glyphicon glyphicon-send"></span><%= fa_icon "trash-o" %>
      <% end %>&nbsp;
      <%= link_to edit_survey_section_path(@survey, section), :remote => true, :class => "cd-modal-call"  do %>
        <span class="glyphicon glyphicon-send"></span><%= fa_icon "plus" %>
      <% end %>&nbsp;
    </h3>
    <hr/>
  <% end %>
</div>