<!DOCTYPE html>
<html>
  <head>
    <title>Chronus Survey</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><%= image_tag asset_path("cs.png") %></a>
          <% if current_user %>
            <%= link_to "Log out", logout_path, :class => "brand nav-pull-right nav-pull-bottom" %>
            <a class="brand nav-pull-right nav-pull-bottom" href="#"><%= current_user.name %></a>
          <% else %>
            <a class="brand nav-pull-right" href="/auth/google_oauth2"><%= image_tag asset_path("google-login.png") %></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <li><a href="#"><span class="glyphicon glyphicon-send"></span><%= fa_icon "line-chart" %>&nbsp;&nbsp;New Survey</a></li>
              <li data-dialog="creditsdialog"><a href="#"><span class="glyphicon glyphicon-send"></span><%= fa_icon "money" %>&nbsp;&nbsp;Credits</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>

      <!-- Main Content -->
      <div class="container-fluid">
          <div class="side-body">
            <%= yield %>
          </div>
      </div>
    </div>

    <div id="creditsdialog" class="dialog">
      <div class="dialog__overlay"></div>
      <div class="dialog__content">
        <h2><strong>P. Naga Raghu Teja</strong></h2>
        <h3><%= mail_to "raghutejaparisa@gmail.com" %></h3>
        <a data-dialog-close></a>
      </div>
    </div>
  </body>
</html>
