<!DOCTYPE html>
<html>
  <head>
    <title>Chronus Survey</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><%= image_tag asset_path("cs.png") %></a>
          <% if current_user %>
            <%= link_to "Logout", logout_path, :class => "brand nav-pull-right nav-pull-bottom" %>
            <a class="brand nav-pull-right nav-pull-bottom" href="#"><%= current_user.name.split.map(&:capitalize).join(' ') %></a>
          <% else %>
            <a class="brand nav-pull-right" href="/auth/google_oauth2"><%= image_tag asset_path("google-login.png") %></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to new_survey_path, :remote => true, :class => "cd-modal-call clear-modal"  do %>
                  <span class="glyphicon glyphicon-send"></span><%= fa_icon "line-chart" %>&nbsp;&nbsp;New Survey
                <% end %>
              </li>
              <li>
                <%= link_to static_pages_pricing_path, :remote => true, :class => "cd-modal-call clear-modal"  do %>
                  <span class="glyphicon glyphicon-send"></span><%= fa_icon "money" %>&nbsp;&nbsp;Pricing
                <% end %>
              </li>
              <li>
                <%= link_to static_pages_credits_path, :remote => true, :class => "cd-modal-call clear-modal"  do %>
                  <span class="glyphicon glyphicon-send"></span><%= fa_icon "plus-square" %>&nbsp;&nbsp;Credits
                <% end %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>

      <!-- Main Content -->
      <div class="container-fluid">
          <div class="side-body">
            <%= yield %>
          </div>
      </div>
    </div>

    <div class="cd-modal">
      <div class="cd-modal-container">
        <span class="cd-modal-header"></span>
        <div class="cd-modal-data">
        </div>
      </div>
    </div>
  </body>
</html>